<%layout('layouts/boilerplate')%>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-3">
    <form
      class="needs-validation"
      action="/campgrounds/<%=campground._id%>?_method=PUT"
      method="POST"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          placeholder="title"
          name="campground[title]"
          value="<%=campground.title%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          placeholder="location"
          name="campground[location]"
          value="<%=campground.location%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          placeholder="image url"
          name="campground[image]"
          value="<%=campground.image%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price"
            name="campground[price]"
            value="<%=campground.price%>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          placeholder="description"
          name="campground[description]"
          required
        >
<%=campground.description%> </textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
      <p><a href="/campgrounds/<%=campground._id%>">Back to campground</a></p>
      <div class="card-footer text-muted">
        <small>2 days ago</small>
      </div>
    </form>
  </div>
</div>
